<header>
  <nav>
    <h2 style="cursor: pointer" onclick="clickHomeButton()">hello</h2>
    <ul>
      <li>
        <a href="#" style="text-decoration: underline">Add new product</a>
      </li>
    </ul>
  </nav>
  <div class="cart">
    <% if (cartButtonShow) { %>
    <button id="cart-button" onclick="clickCartButton()">
      My Cart <span id="cart-item-count">0</span>
    </button>
    <% } %>
  </div>
</header>
