<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head',{title: 'Home'}); %>
  <body>
    <%- include('../components/header'); %>
    <main>
      <section class="product-listing">
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
        <!-- Sample Product  -->
        <div class="product">
          <img src="assets/1.png" alt="Product 1" />
          <h2>Product 1</h2>
          <p>Description of Product 1.</p>
          <p class="price">$19.99</p>
          <a href="./cart.html"></a>
          <button class="add-to-cart">Add to Cart</button>
        </div>

        <!-- Add more sample products here -->
      </section>
    </main>
  </body>
</html>
